*,
::before,
::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-size: 16px;
}


/* topnav */
.d-flex {
    display: flex;
}

.flex-column {
    flex-direction: column;
}

.flex-md-row {
    flex-direction: row;
}

.align-items-center {
    align-items: center;
}

.align-items-start {
    align-items: flex-start;
}

.pb-3 {
    padding-bottom: 1rem;
}

.mb-4 {
    margin-bottom: 1.5rem;
}

.border-bottom {
    border-bottom: 1px solid #e5e5e5;
}

.link-body-emphasis {
    color: #333;
}

.text-decoration-none {
    text-decoration: none;
}

.logo {
    height: 50px;
    margin: 15%;
    
}

.mt-2 {
    margin-top: 0.5rem;
}

.mt-md-0 {
    margin-top: 0;
}

.ms-md-auto {
    margin-left: auto;
}

.me-3 {
    margin-right: 1rem;
}

.mb-2 {
    margin-bottom: 0.5rem;
}

.mb-md-0 {
    margin-bottom: 0;
}

.py-2 {
    padding: 0.5rem 0;
}

.address-text, .phone-number {
    font-size: 1rem;
    color: #333;
    font-weight: 500;
}

.fas {
    font-size: 1rem;
    margin-right: 5px;
}

/* Responsive Styling */
@media (max-width: 767.98px) {
    .d-inline-flex {
        flex-direction: column;
        align-items: flex-start;
    }

    .me-3 {
        margin-right: 0;
    }

    .mb-2 {
        margin-bottom: 1rem;
    }

    .align-items-md-center {
        align-items: center;
    }

    .ms-md-auto {
        margin-left: 0;
    }

    .mt-md-0 {
        margin-top: 1rem;
    }
}

/* formwhole box */
.img-fluid2 {
    max-width: 60%;
    height: auto;
}
.icon {
    color: #D32F2F;
    margin-right: 8px;
}

.bg-red-overlay {
    position: relative;
    background: url('images/Laptop.avif') no-repeat center center;
    /* Replace with your background image */
    background-size: cover;
    color: white;
    padding: 50px 0;
}

.bg-red-overlay::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(211, 47, 47, 0.9);
    /* Semi-transparent red overlay */
}

.content-container {
    position: relative;
    z-index: 1;
}

.form-container {
    background-color: white;
    padding: 30px;
    border-radius: 2px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}










/* 3rd Row Section */
.maincontainer {
    width: 75%;
    margin: auto;
    display: block;
}

.homesectiontwo {
    width: 100%;
    position: relative;
    padding: 70px 0 50px 0;
}

.course_list_sec ul {
    padding: 0;
    margin: 0;
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    text-align: center;
}

.course_list_sec ul li {
    width: 22%;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px;
    box-sizing: border-box;
}

.flexbox {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.flexleft {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.flexright {
    text-align: center;
    padding-top: 10px;
}

.img-fluid1 {
    max-width: 100%;
    height: auto;
}

.flexright .count_head {
    font-size: 20px;
    font-weight: 700;
    color: #ee2c3c;
}

.flexright .count_desc {
    font-size: 16px;
    color: #5b5b5b;
    font-weight: 300;
}

/* Responsive Design */
@media (max-width: 1024px) {
    .course_list_sec ul li {
        width: 45%;
    }

    .flexright .count_head {
        font-size: 18px;
    }

    .flexright .count_desc {
        font-size: 14px;
    }
}

@media (max-width: 768px) {
    .course_list_sec ul li {
        width: 100%;
    }

    .flexright .count_head {
        font-size: 16px;
    }

    .flexright .count_desc {
        font-size: 14px;
    }
}



/* Profile Card Peoples */
.container {
    max-width: 1200px;
    margin: auto;
}

.profile-card {
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.35);
    border-radius: 10px;
    padding: 20px;
    text-align: center;
    background-color: #e7e7e7;
    float: left;
    height: 320px;
    width: 220px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.profile-card img {
    border-radius: 0%;
    width: 75px;
    height: 75px;
    margin: 0 auto;
}

.complogo {
    height: 48px !important;
    width: 100px !important;
    margin: 10px auto 0 !important;
    background: transparent;
    border: none;
}

.profile-card h5 {
    font-size: 15px;
    margin: 10px 0;
    line-height: 1.2;
    flex-grow: 1;
}

.profile-card p {
    font-size: 14px;
    margin: 5px 0;
    line-height: 1.2;
    flex-grow: 1;
}

.profile-card .salary {
    background-color: #6A0DAD;
    color: white;
    padding: 5px 10px;
    border-radius: 5px;
    display: inline-block;
    margin-top: 10px;
    font-size: 14px;
    align-self: center;
    height: 30px;
}

.slick-prev,
.slick-next {
    background-color: rgba(0, 0, 0, 0.5);
    border: none;
    color: white;
    padding: 10px;
    cursor: pointer;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    z-index: 10;
    font-size: 18px;
    border-radius: 0%;
}

.slick-prev {
    left: -50px;
}

.slick-next {
    right: -50px;
}

.slick-slide {
    margin: 0 10px;
}

.slick-list {
    margin: 0 50px;
    overflow: hidden;
    padding: 0 80px;
}

.slick-carousel {
    position: relative;
}

/* Responsive Design */
@media (max-width: 1024px) {
    .profile-card {
        width: 180px;
        height: auto;
    }
    .profile-card img {
        width: 60px;
        height: 60px;
    }
    .complogo {
        width: 80px;
        height: auto;
    }
    .profile-card .salary {
        font-size: 12px;
        height: auto;
    }
}

@media (max-width: 768px) {
    .profile-card {
        width: 150px;
        height: auto;
    }
    .profile-card img {
        width: 50px;
        height: 50px;
    }
    .complogo {
        width: 70px;
        height: auto;
    }
    .profile-card .salary {
        font-size: 11px;
        height: auto;
    }
}

@media (max-width: 480px) {
    .profile-card {
        width: 100%;
        margin-bottom: 20px;
    }
    .slick-prev,
    .slick-next {
        display: none;
    }
    .slick-list {
        margin: 0;
        padding: 0;
    }
}




/* companies */
.slider {
    display: flex;
    overflow: hidden;
    width: 100%;
    height: 100px;
    background-color: #f4f4f4;
    position: relative;
}

.slide-track {
    display: flex;
    animation: scroll 50s linear infinite;
    width: calc(150px * 15 * 2); /* Width to cover all slides and their duplicates */
}

.slide {
    width: 150px;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    
}

.slide img {
    max-width: 100%;
    max-height: 100%;
}

@keyframes scroll {
    0% {
        transform: translateX(0);
    }
    100% {
        transform: translateX(-50%);
    }
}

/* Responsive */
@media (max-width: 600px) {
    .slide {
        width: 100px;
    }
}


/* Our Job-ready Courses */
.slider-container {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    max-width: 100%;
    overflow: hidden;
}

.course-slider {
    display: flex;
    transition: transform 0.5s ease-in-out;
}

.course-container {
    display: flex;
    gap: 20px;
}

.course-box {
    background-color: white;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    text-align: center;
    min-width: 280px;
    flex-shrink: 0;
}

.course-image {
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
}

.course-image img {
    max-width: 100px;
    height: auto;
}

.course-title {
    font-size: 1.1em;
    font-weight: bold;
    margin-bottom: 10px;
}

.course-info {
    font-size: 0.85em;
    color: #ff4f4f;
    margin-bottom: 20px;
}

.course-duration {
    display: flex;
    align-items: center;
    color: #777;
    font-size: 0.85em;
    justify-content: center;
}

.course-duration i {
    margin-right: 5px;
}

.learn-more {
    display: inline-block;
    padding: 10px 20px;
    background-image: linear-gradient(to right, #ff4f4f, #ff00ff);
    color: white;
    border-radius: 20px;
    text-decoration: none;
    font-size: 0.9em;
    transition: background-color 0.3s, color 0.3s;
}

.learn-more:hover {
    background-color: #ff4f4f;
    color: white;
}

.slider-button {
    background-color: rgba(0, 0, 0, 0.5);
    border: none;
    color: white;
    padding: 10px;
    cursor: pointer;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    z-index: 10;
    font-size: 18px;
    border-radius: 0%;
}

#prevButton {
    left: 10px;
}

#nextButton {
    right: 10px;
}

@media (max-width: 800px) {
    .course-container {
        flex-direction: column;
        align-items: center;
    }

    .course-box {
        width: 90%;
    }

    .slider-button {
        display: none;
    }
}


/* Why choose upGrad Campus Section */
.homesectionfive {
    padding: 50px 0 25px;
}

.campus-list-sec {
    padding: 40px 0 10px 0;
}

.campus-list-sec ul {
    padding: 0;
    margin: 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    text-align: center;
}

.campus-list-sec ul li {
    list-style: none;
    width: 15%;
    padding: 20px 10px;
    display: inline-block;
    vertical-align: top;
}

.campus-list-sec ul li img {
    width: 75px;
    margin-bottom: 10px;
}

.campus-list-sec ul li p span {
    display: block;
}

.campus-list-sec ul li p {
    font-size: 15px;
    color: #333;
    font-weight: 600;
    padding: 10px 0 0 0;
}

/* Responsive Design */
@media (max-width: 1024px) {
    .campus-list-sec ul li {
        width: 30%;
    }
}

@media (max-width: 768px) {
    .campus-list-sec ul li {
        width: 45%;
    }

    .ug_title_head {
        font-size: 24px;
        line-height: 30px;
    }
}

@media (max-width: 480px) {
    .campus-list-sec ul li {
        width: 100%;
    }

    .ug_title_head {
        font-size: 20px;
        line-height: 25px;
    }
}

/* Additional Styles */
.ug_title_head {
    font-size: 30px;
    font-weight: 500;
    color: #ee2c3c;
    line-height: 40px;
    background: linear-gradient(to right, #ef5c76, #da407e, #bd2988, #981d92, #66209a);
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
}

.align-center {
    text-align: center;
}

.intro span {
    display: block;
}

/* Decorative Elements */
.trianglebtm {
    position: absolute;
    right: 0;
    bottom: 20px;
}

.trianglebtm img {
    width: 70px;
}

.linebtm {
    position: absolute;
    bottom: 20px;
    left: 10px;
}

.linebtm img {
    width: 80px;
}

.linetop {
    position: absolute;
    top: 50px;
    right: 5%;
}

.linetop img {
    width: 70px;
}

.linetopone {
    position: absolute;
    top: 20px;
    left: 30%;
}

.linetopone img {
    width: 30px;
}

/* placement */
.homesectionsix {
    background: #f5f5f5;
    width: 100%;
    padding: 60px 0;
    position: relative
}

.placement_list ul {
    padding: 0;
    margin: 0;
    text-align: left
}

.placement_list ul li {
    list-style: none;
    width: 32%;
    padding: 15px 10px;
    display: inline-block;
    vertical-align: text-top;
    text-align: center
}



.placement_list ul li p {
    font-weight: 600;
    font-size: 15px
}

.placement_list ul li img {
    width: 55px;
    padding: 10px 0;
    margin: auto;
    display: block
}

.placement_list {
    padding: 40px 0 30px 0
}

.learn_btn {
    background: transparent;
    border: 2px solid #ee2c3c;
    border-radius: 30px;
    margin: 5px 0 10px 0;
    text-align: center;
    display: inline-block
}

.learn_btn a,.learn_btn a:hover {
    color: #ee2c3c;
    font-weight: 600;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 16px;
    display: block;
    padding: 10px 30px
}

.placement_sec {
    padding: 40px 40px 0 0
}

/* footer */
.footer {
    background-color: #1a1a1a;
    color: white;
    padding: 20px 0;
    position: relative;
}

.footer-logo {
    font-size: 54px;
    font-weight: bold;
    margin-bottom: 10px;
    text-align: left;
    margin-left: 105px;
}

.footer-line {
    border: none;
    height: 1px;
    background-color: white;
    width: 80%;
    margin: 10px auto;
}

.footer-text {
    font-size: 14px;
}

@media (max-width: 767px) {
    .footer {
        text-align: center;
    }

    .footer-line {
        width: 90%;
    }
}
